@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

/* 
    negro: #2A363B
    rojo: #CF4647
    amarilo: #F5D061
    blanco: #F8F6F6


    piel: #FFF7D4
    amarillo: #FFD95A
    naranja: #C07F00
    marron: #4C3D3D
*/

* {
    margin:0px;
    padding: 0px;
    box-sizing: content-box;
}

body {
    background-color: #FFD95A;
    color: black;
    font-family: 'Nunito', sans-serif;
}

/* Seccion 1 _________________________________________________________________________*/

#section_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin: 15px 0px 0px 0px;
    font-size: 34px;
}

.subtitulo {
    margin: 15px 0px 0px 0px;
    font-size: 29px;
}

#caja-mascotas {
    margin: 15px 0px 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

.input-mascotas {
    display: none;
}

.label-mascota {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 210px;
    background-color: #F8F6F6;
}

.label-mascota img {
    margin: 0px;
    padding: 0px;
    width: 170px;
    height: 170px;
}

#boton-seleccionar {
    margin: 15px 0px 0px 0px;
}

/* Seccion 2 _________________________________________________________________________*/

#section_2 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#caja-botones-ataque {
    margin: 15px 0px 0px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

.botones-generados {
    width: 90px;
    height: 85px;
    background-color: #fdefc2;
}

.botones-generados img {
    width: 80px;
    height: 75px;
}

/* Seccion 3 _________________________________________________________________________*/

#section_3 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#resultado-del-combate {
    margin: 15px 0px 0px 0px;

    font-size: 30px;
}

#boton-de-reiniciar {
    margin: 10px 0px 0px 0px;
}

/* Seccion 4 _________________________________________________________________________*/

#section_4 {
    margin: 20px 0px 25px 0px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.panel-combate {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    border: solid 2px black;
    background-color: #F8F6F6;
}

.mascota-seleccionada {
    width: 200px;
    height: 200px;
}

.ataques-seleccionados {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: solid 1px black;
}