body {
    background-color: azure;
    font-family: Helvetica;
}

.input-mascotas {
    display: none;
}

.botones-generados {
    width: 90px;
    height: 85px;
}

.botones-generados img {
    width: 80px;
    height: 75px;
}